In [410]:
import pandas as pd; import numpy as np; from shapely import geometry; import geopandas as gpd
import json; from pprint import pprint; import sys
%matplotlib inline

# Breaking everything down to Buildings

In [411]:
buildings = pd.read_csv('../raw_data/ZayoHackathonData_Buildings.csv')
sites     = pd.read_csv('../raw_data/ZayoHackathonData_Sites.csv')
accounts  = pd.read_csv('../raw_data/ZayoHackathonData_Accounts.csv')
opportunities = pd.read_csv('../raw_data/ZayoHackathonData_Opportunities.csv')
products      = pd.read_csv('../raw_data/ZayoHackathonData_Services.csv')

In [412]:
print(buildings.columns)
buildings.head(1)

Index(['Building ID', 'Market', 'Street Address', 'City', 'State',
       'Postal Code', 'Latitude', 'Longitude', 'On Zayo Network Status',
       'Net Classification', 'Type', 'Network Proximity',
       ' Estimated Build Cost '],
      dtype='object')

,Building ID,Market,Street Address,City,State,Postal Code,Latitude,Longitude,On Zayo Network Status,Net Classification,Type,Network Proximity,Estimated Build Cost
0,Bldg-115472,Atlanta,953 Donnelly Ave SW,Atlanta,GA,30310,33.728521,-84.418751,Not on Zayo Network,Fiber Only,Office - Multi Tenant,116.91,"$13,507.30"

In [413]:
buildings['est_cost'] = buildings[' Estimated Build Cost '].replace('[\$,)]','', regex=True ).astype(float)

In [414]:
buildings.head(3)

,Building ID,Market,Street Address,City,State,Postal Code,Latitude,Longitude,On Zayo Network Status,Net Classification,Type,Network Proximity,Estimated Build Cost,est_cost
0,Bldg-115472,Atlanta,953 Donnelly Ave SW,Atlanta,GA,30310,33.728521,-84.418751,Not on Zayo Network,Fiber Only,Office - Multi Tenant,116.91,"$13,507.30",13507.30
1,Bldg-115473,Atlanta,555 Old Norcross Rd,Lawrenceville,GA,30046,33.946700,-83.995000,Not on Zayo Network,Fiber Only,Office - Multi Tenant,28323.03,"$689,752.72",689752.72
2,Bldg-115475,Atlanta,3159 Royal Dr,Alpharetta,GA,30005,34.056608,-84.265246,On Zayo Network,Fiber Only,Office - Multi Tenant,979.44,"$33,506.56",33506.56

In [415]:
sites.head(1)

,Site ID,Account ID,Building ID,Market,Site Address,City,State,Postal Code,Network Proximity,On Zayo Network Status
0,Site-000001,Acct-000025,Bldg-115472,Atlanta,953 Donnelly Ave SW,Atlanta,GA,30310,116.91,Not on Zayo Network

In [416]:
accounts.head(1)

,Account ID,Industry,Vertical,Total BRR,AnnualRevenue,NumberOfEmployees,DandB Revenue,DandB Total Employees
0,Acct-000273,Telecommunications,Wireless,"$6,084,906.00","$248,747,365.62",397,"$356,943,618.45",397

In [417]:
opportunities.head(1)

,Opportunity ID,Account ID,StageName,IsClosed,IsWon,CreatedDate,Term in Months,Service,Opportunity Type,Product Group,Building ID,Market,Street Address,City,State,Postal Code,Network Proximity,On Zayo Network Status
0,Opp-000001,Acct-000007,Closed - Lost,True,False,7/1/16,12.0,NaN,New Service,Ethernet,Bldg-012582,Atlanta,56 Marietta St NW,Atlanta,GA,30303,66.45,On Zayo Network

In [418]:
df = accounts.merge(sites,on="Account ID")

In [419]:
df2 = df.merge(buildings, on="Building ID")

In [420]:
df2.head(1)

,Account ID,Industry,Vertical,Total BRR,AnnualRevenue,NumberOfEmployees,DandB Revenue,DandB Total Employees,Site ID,Building ID,...,State_y,Postal Code_y,Latitude,Longitude,On Zayo Network Status_y,Net Classification,Type,Network Proximity_y,Estimated Build Cost,est_cost
0,Acct-000273,Telecommunications,Wireless,"$6,084,906.00","$248,747,365.62",397,"$356,943,618.45",397,Site-000061,Bldg-115571,...,GA,30309,33.800922,-84.393502,On Zayo Network,Fiber Only,Office - Multi Tenant,198.92,"$15,967.60",15967.6

In [421]:
df2.head(2).columns

Index(['Account ID', 'Industry', 'Vertical', ' Total BRR ', ' AnnualRevenue ',
       'NumberOfEmployees', ' DandB Revenue ', 'DandB Total Employees',
       'Site ID', 'Building ID', 'Market_x', 'Site Address', 'City_x',
       'State_x', 'Postal Code_x', 'Network Proximity_x',
       'On Zayo Network Status_x', 'Market_y', 'Street Address', 'City_y',
       'State_y', 'Postal Code_y', 'Latitude', 'Longitude',
       'On Zayo Network Status_y', 'Net Classification', 'Type',
       'Network Proximity_y', ' Estimated Build Cost ', 'est_cost'],
      dtype='object')

In [422]:
opportunities.head()

,Opportunity ID,Account ID,StageName,IsClosed,IsWon,CreatedDate,Term in Months,Service,Opportunity Type,Product Group,Building ID,Market,Street Address,City,State,Postal Code,Network Proximity,On Zayo Network Status
0,Opp-000001,Acct-000007,Closed - Lost,True,False,7/1/16,12.0,NaN,New Service,Ethernet,Bldg-012582,Atlanta,56 Marietta St NW,Atlanta,GA,30303,66.45,On Zayo Network
1,Opp-000002,Acct-000986,5 - Accepted,True,True,7/1/16,60.0,NaN,New Service,Dark Fiber - Metro,Bldg-016855,Atlanta,300 Satellite Blvd NW,Suwanee,GA,30024,374.79,On Zayo Network
2,Opp-000002,Acct-000986,5 - Accepted,True,True,7/1/16,60.0,NaN,New Service,Dark Fiber - Metro,Bldg-109003,Atlanta,305 Satellite Blvd NW,Suwanee,GA,30024,250.74,On Zayo Network
3,Opp-000003,Acct-000011,5 - Accepted,True,True,7/1/16,36.0,NaN,New Service,Dark Fiber - Metro,Bldg-012582,Atlanta,56 Marietta St NW,Atlanta,GA,30303,66.45,On Zayo Network
4,Opp-000003,Acct-000011,5 - Accepted,True,True,7/1/16,36.0,NaN,New Service,Dark Fiber - Metro,Bldg-038069,Atlanta,1100 Abernathy Rd NE,Atlanta,GA,30328,151.21,On Zayo Network

In [423]:
x = df2.groupby("Building ID").agg({
        "Latitude"  : {'lat': lambda x: x.values[0]},
        "Longitude" : {'lon': lambda x: x.values[0]},
        "Account ID": {"Number Accounts": pd.Series.nunique},
        "est_cost"  : {"BuildingCost" : sum},
        "Site ID" : {"Number Sites" : pd.Series.nunique},
        "On Zayo Network Status_y": {
            "netStat" : lambda x: x.values[0]=='On Zayo Network'}
    })
x.columns = x.columns.get_level_values(1)

In [424]:
opp_count = pd.DataFrame(opportunities.query('StageName!="Closed - Lost"')['Building ID'].value_counts())

In [425]:
opp_count.head()

             Building ID
Bldg-014866          417
Bldg-012582          175
Bldg-017035          148
Bldg-065056           94
Bldg-127057           76

In [426]:
gdf = gpd.GeoDataFrame(x)
gdf.geometry = gdf.apply(lambda row: geometry.Point(row.lon, row.lat), axis=1)

In [427]:
print(len(gdf))
gdf.head(2)

17209

,lat,lon,BuildingCost,Number Sites,netStat,Number Accounts,geometry
Building ID,,,,,,,
Bldg-011543,39.598945,-104.860338,71994.9,3,True,3,POINT (-104.860338 39.598945)
Bldg-012582,33.755431,-84.391561,3430141.0,286,True,275,POINT (-84.391561 33.755431)

## Add opportunities (lookup)

In [428]:
gdf['opportunity'] = 0

In [429]:
opportunities.columns

Index(['Opportunity ID', 'Account ID', 'StageName', 'IsClosed', 'IsWon',
       'CreatedDate', 'Term in Months', 'Service', 'Opportunity Type',
       'Product Group', 'Building ID', 'Market', 'Street Address', 'City',
       'State', 'Postal Code', 'Network Proximity', 'On Zayo Network Status'],
      dtype='object')

In [430]:
gdf.head(2)

,lat,lon,BuildingCost,Number Sites,netStat,Number Accounts,geometry,opportunity
Building ID,,,,,,,,
Bldg-011543,39.598945,-104.860338,71994.9,3,True,3,POINT (-104.860338 39.598945),0
Bldg-012582,33.755431,-84.391561,3430141.0,286,True,275,POINT (-84.391561 33.755431),0

In [431]:
opportunities.head(2)

,Opportunity ID,Account ID,StageName,IsClosed,IsWon,CreatedDate,Term in Months,Service,Opportunity Type,Product Group,Building ID,Market,Street Address,City,State,Postal Code,Network Proximity,On Zayo Network Status
0,Opp-000001,Acct-000007,Closed - Lost,True,False,7/1/16,12.0,NaN,New Service,Ethernet,Bldg-012582,Atlanta,56 Marietta St NW,Atlanta,GA,30303,66.45,On Zayo Network
1,Opp-000002,Acct-000986,5 - Accepted,True,True,7/1/16,60.0,NaN,New Service,Dark Fiber - Metro,Bldg-016855,Atlanta,300 Satellite Blvd NW,Suwanee,GA,30024,374.79,On Zayo Network

In [432]:
opportunities['b_id'] = opportunities['Building ID']
products['b_id'] = products['Building ID']

In [433]:
print(opportunities.columns)
opportunities.head(2)

Index(['Opportunity ID', 'Account ID', 'StageName', 'IsClosed', 'IsWon',
       'CreatedDate', 'Term in Months', 'Service', 'Opportunity Type',
       'Product Group', 'Building ID', 'Market', 'Street Address', 'City',
       'State', 'Postal Code', 'Network Proximity', 'On Zayo Network Status',
       'b_id'],
      dtype='object')

,Opportunity ID,Account ID,StageName,IsClosed,IsWon,CreatedDate,Term in Months,Service,Opportunity Type,Product Group,Building ID,Market,Street Address,City,State,Postal Code,Network Proximity,On Zayo Network Status,b_id
0,Opp-000001,Acct-000007,Closed - Lost,True,False,7/1/16,12.0,NaN,New Service,Ethernet,Bldg-012582,Atlanta,56 Marietta St NW,Atlanta,GA,30303,66.45,On Zayo Network,Bldg-012582
1,Opp-000002,Acct-000986,5 - Accepted,True,True,7/1/16,60.0,NaN,New Service,Dark Fiber - Metro,Bldg-016855,Atlanta,300 Satellite Blvd NW,Suwanee,GA,30024,374.79,On Zayo Network,Bldg-016855

In [393]:
def buildFeatureWithOpportunity(row):
    
    opps = opportunities.query("b_id=='{0}'".format(row.name))    
    op = [0,0,0,0,0,0,0]

    if len(opps):
        op[0] = 1
        val_counts = opps.StageName.value_counts()
        for idx, stage in enumerate(['1 - Working','2 - Best Case','3 - Committed','4 - Closed', '5 - Accepted', 'Closed - Lost']):
            if stage in val_counts:
                op[idx+1] = int(val_counts[stage])
    
    feat = {"type":"Feature",
            "properties":{
                    "opp_0":    op[0],
                    "opp_1":    op[1],
                    "opp_2":    op[2],
                    "opp_3":    op[3],
                    "opp_4":    op[4],
                    "opp_5":    op[5],
                    "opp_lost": op[6]
                }
            }
    return feat

In [435]:
products.columns

Index(['Service ID', 'Account ID', ' Total MRR ', ' Netx MRC ',
       'Product Group', 'Status', 'Building ID', 'Street Address', 'City',
       'State', 'Postal Code', 'Country', 'b_id'],
      dtype='object')

In [436]:
products['total_mrr'] = products[' Total MRR '].replace('[\$,()]','', regex=True )
products.total_mrr = products.total_mrr.replace('[-]',0, regex=True ).astype(float)

products['netx_mrc'] = products[' Netx MRC '].replace('[\$,()]','', regex=True )
products.netx_mrc = products.netx_mrc.replace('[-]',0, regex=True ).astype(float)

In [454]:
buildings

,Building ID,Market,Street Address,City,State,Postal Code,Latitude,Longitude,On Zayo Network Status,Net Classification,Type,Network Proximity,Estimated Build Cost,est_cost
0,Bldg-115472,Atlanta,953 Donnelly Ave SW,Atlanta,GA,30310,33.728521,-84.418751,Not on Zayo Network,Fiber Only,Office - Multi Tenant,116.91,"$13,507.30",13507.30
1,Bldg-115473,Atlanta,555 Old Norcross Rd,Lawrenceville,GA,30046,33.946700,-83.995000,Not on Zayo Network,Fiber Only,Office - Multi Tenant,28323.03,"$689,752.72",689752.72
2,Bldg-115475,Atlanta,3159 Royal Dr,Alpharetta,GA,30005,34.056608,-84.265246,On Zayo Network,Fiber Only,Office - Multi Tenant,979.44,"$33,506.56",33506.56
3,Bldg-115476,Atlanta,1593 Northeast Expy NE,Atlanta,GA,30329,33.831700,-84.323900,Not on Zayo Network,Type 2,Neutral Data Center,177.41,"$15,322.30",15322.30
4,Bldg-115501,Atlanta,Glenridge Dr NE & Hammond Dr NE,Sandy Springs,GA,30328,33.918987,-84.364091,Not on Zayo Network,Stubbed,Splice Point,22.89,"$10,686.70",10686.70
5,Bldg-115514,Atlanta,2500 Cumberland Pkwy SE,Atlanta,GA,30339,33.867537,-84.475962,Not on Zayo Network,Fiber Only,Office - Multi Tenant,2620.30,"$72,887.20",72887.20
6,Bldg-115480,Atlanta,Northside Dr & Sagamore Dr,Atlanta,GA,30305,33.821757,-84.405760,On Zayo Network,Fiber Only,Splice Point,19.09,"$10,572.70",10572.70
7,Bldg-115549,Atlanta,100 Peachtree St NE,Atlanta,GA,30303,33.756924,-84.388650,On Zayo Network,Fiber Only,Office - Multi Tenant,519.98,"$22,479.52",22479.52
8,Bldg-115550,Atlanta,1000 Holcomb Woods Pkwy - Bldg 444,Roswell,GA,30076,34.022335,-84.309742,On Zayo Network,Fiber Only,Office - Multi Tenant,562.01,"$23,488.24",23488.24
9,Bldg-115551,Atlanta,105 Collier Rd NW,Atlanta,GA,30309,33.809081,-84.396315,On Zayo Network,Fiber Only,Hospital,356.89,"$20,706.70",20706.70
10,Bldg-115552,Atlanta,10820 Abbotts Bridge Rd,Duluth,GA,30097,34.044699,-84.178224,On Zayo Network,Fiber Only,Retail - Single Tenant,641.52,"$25,396.48",25396.48
11,Bldg-115565,Atlanta,16 Forest Pkwy,Forest Park,GA,30297,33.620450,-84.391523,On Zayo Network,Fiber Only,Retail - Single Tenant,586.54,"$24,076.96",24076.96
12,Bldg-115644,Atlanta,53 Perimeter Ctr E,Atlanta,GA,30346,33.922225,-84.331363,On Zayo Network,Fiber Only,Office - Multi Tenant,2146.59,"$61,518.16",61518.16
13,Bldg-115630,Atlanta,3855 Pleasant Hill Rd,Duluth,GA,30096,33.999700,-84.163935,Not on Zayo Network,Fiber Only,Hospital,369.05,"$21,071.50",21071.50
14,Bldg-115659,Atlanta,5670 Peachtree Dunwoody Rd,Atlanta,GA,30342,33.909702,-84.352951,On Zayo Network,Fiber Only,Hospital,132.27,"$13,968.10",13968.10
15,Bldg-115656,Atlanta,5600 Roswell Rd,Atlanta,GA,30342,33.907800,-84.379525,On Zayo Network,Fiber Only,Retail: Sm Shopping Mall,187.28,"$15,618.40",15618.40
16,Bldg-115548,Atlanta,100 Ashford Gables Dr,Atlanta,GA,30338,33.935318,-84.340317,Not on Zayo Network,Fiber Only,Office - Multi Tenant,629.35,"$25,104.40",25104.40
17,Bldg-115554,Atlanta,1100 Lake Hearn DR NE,Atlanta,GA,30342,33.913042,-84.351234,On Zayo Network,Fiber Only,Office - Multi Tenant,216.45,"$16,493.50",16493.50
18,Bldg-115582,Atlanta,2197 Canton Rd,Marietta,GA,30066,34.004557,-84.527854,Not on Zayo Network,Fiber Only,Office - Multi Tenant,652.04,"$25,648.96",25648.96
19,Bldg-115555,Atlanta,11465 Johns Creek Pkwy,Duluth,GA,30097,34.059138,-84.166929,On Zayo Network,Fiber Only,Office - Multi Tenant,330.01,"$19,900.30",19900.30
20,Bldg-115561,Atlanta,1350 Spring St NW,Atlanta,GA,30309,33.791484,-84.389779,Not on Zayo Network,Fiber Only,Office - Multi Tenant,611.64,"$24,679.36",24679.36
21,Bldg-115556,Atlanta,11555 Medlock Bridge Rd,Duluth,GA,30097,34.055767,-84.172973,On Zayo Network,Fiber Only,Office - Multi Tenant,266.34,"$17,990.20",17990.20
22,Bldg-115574,Atlanta,1800 Sandy Plains Ind Pkwy NE,Marietta,GA,30066,33.994984,-84.529507,Not on Zayo Network,Fiber Only,Office - Multi Tenant,677.87,"$26,268.88",26268.88
23,Bldg-115609,Atlanta,3193 Howell Mill Rd NW,Atlanta,GA,30327,33.842065,-84.427353,On Zayo Network,Fiber Only,Office - Multi Tenant,1036.20,"$34,868.80",34868.80
24,Bldg-115610,Atlanta,3280 Howell Mill Rd NW,Atlanta,GA,30327,33.843146,-84.428846,On Zayo Network,Fiber Only,Office - Multi Tenant,999.79,"$33,994.96",33994.96
25,Bldg-115562,Atlanta,1355 Terrell Mill Rd SE,Marietta,GA,30067,33.918307,-84.465348,On Zayo Network,Fiber Only,Office - Multi Tenant,363.15,"$20,894.50",20894.50
26,Bldg-115642,Atlanta,500 Sun Valley Dr,Roswell,GA,30076,34.052153,-84.339840,Not on Zayo Network,Fiber Only,Clinic,1067.03,"$35,608.72",35608.72
27,Bldg-115557,Atlanta,11660 Alpharetta Hwy,Roswell,GA,30076,34.065728,-84.323597,Not on Zayo Network,Fiber Only,Office - Multi Tenant,822.36,"$29,736.64",29736.64
28,Bldg-115568,Atlanta,1700 Hospital S Dr,Austell,GA,30106,33.855520,-84.605137,Not on Zayo Network,Fiber Only,Office - Multi Tenant,742.83,"$27,827.92",27827.92
29,Bldg-115564,Atlanta,1462 Montreal Rd,Tucker,GA,30084,33.825485,-84.254879,On Zayo Network,Fiber Only,Office - Multi Tenant,388.87,"$21,666.10",21666.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28525,Bldg-501827,Denver,828 S Oneida St,Denver,CO,80224,39.700700,-104.908423,Not on Zayo Network,Fiber Only,Office - Single Tenant,570.44,"$29,513.20",29513.20
28526,Bldg-513686,Denver,W 136th Ave & Kohl St,Broomfield,CO,80020,39.942083,-105.077756,Not on Zayo Network,On-Net,Local/State Government,NaN,"$12,400.00",12400.00
28527,Bldg-513470,Dallas,763 E State Highway 80,Forney,TX,75126,32.743576,-96.451406,Not on Zayo Network,Fiber Only,Clinic,NaN,"$12,000.00",12000.00
28528,Bldg-501841,Dallas,3200 Airport Rd,Denton,TX,76207,33.203091,-97.176562,Not on Zayo Network,Type 2,Office - Single Tenant,NaN,"$12,000.00",12000.00
28529,Bldg-513704,Dallas,2650 Lou Menk Dr,Fort Worth,TX,76131,32.862043,-97.327789,Not on Zayo Network,Fiber Only,Office - Multi Tenant,256.17,"$27,370.20",27370.20
28530,Bldg-513708,Dallas,2801 Gateway Dr,Irving,TX,75063,32.894521,-96.985588,Not on Zayo Network,On-Net,Office - Single Tenant,1055.96,"$38,399.00",38399.00
28531,Bldg-513719,Dallas,E Collins Blvd east of Firman Dr,Richardson,TX,75081,32.967981,-96.714629,On Zayo Network,Fiber Only,Splice Point,23.43,"$13,405.80",13405.80
28532,Bldg-513503,Dallas,2951 Ridge Rd,Rockwall,TX,75032,32.888958,-96.473092,Not on Zayo Network,Fiber Only,Clinic,NaN,"$12,000.00",12000.00
28533,Bldg-513743,Atlanta,306 Williams St NW,Atlanta,GA,30313,33.762991,-84.390551,Build in Progress,Fiber Only,Residential - Multi Tenant,522.88,"$22,549.12",22549.12
28534,Bldg-513744,Atlanta,77 12th St NE,Atlanta,GA,30309,33.784520,-84.385070,Build in Progress,Fiber Only,Residential - Multi Tenant,576.85,"$23,844.40",23844.40
28535,Bldg-513745,Atlanta,33 11th St NE,Atlanta,GA,30309,33.783252,-84.386636,Build in Progress,Fiber Only,Residential - Multi Tenant,362.54,"$20,876.20",20876.20
28536,Bldg-513746,Atlanta,144 Moreland Ave NE,Atlanta,GA,30307,33.756733,-84.349180,Build in Progress,Fiber Only,Residential - Multi Tenant,NaN,"$10,000.00",10000.00
28537,Bldg-513747,Atlanta,2470 Cheshire Bridge Rd NE,Atlanta,GA,30324,33.822135,-84.351604,Build in Progress,Fiber Only,Residential - Multi Tenant,227.26,"$16,817.80",16817.80
28538,Bldg-513748,Atlanta,1910 Bixby St SE,Atlanta,GA,30317,33.749448,-84.325141,Build in Progress,Fiber Only,Residential - Multi Tenant,NaN,"$10,000.00",10000.00
28539,Bldg-513749,Atlanta,361 Pharr Rd NE,Atlanta,GA,30305,33.837013,-84.375842,Build in Progress,Fiber Only,Residential - Multi Tenant,18.37,"$10,551.10",10551.10
28540,Bldg-513755,Atlanta,421 W Trinity Pl,Decatur,GA,30030,33.773568,-84.301983,Build in Progress,Fiber Only,Residential - Multi Tenant,NaN,"$10,000.00",10000.00
28541,Bldg-513750,Atlanta,800 Glenwood Ave SE,Atlanta,GA,30316,33.740328,-84.360965,Build in Progress,Fiber Only,Residential - Multi Tenant,NaN,"$10,000.00",10000.00
28542,Bldg-513751,Atlanta,1074 Peachtree Walk NE,Atlanta,GA,30309,33.783971,-84.386294,Build in Progress,Fiber Only,Residential - Multi Tenant,462.74,"$23,882.20",23882.20
28543,Bldg-513757,Atlanta,2061 Peachtree Rd NE,Atlanta,GA,30309,33.811145,-84.392098,Not on Zayo Network,Fiber Only,Office - Multi Tenant,59.76,"$11,792.80",11792.80
28544,Bldg-513752,Atlanta,223 12th St NE,Atlanta,GA,30309,33.784253,-84.379992,Build in Progress,Fiber Only,Residential - Multi Tenant,842.93,"$30,230.32",30230.32
28545,Bldg-513758,Dallas,601 W Northwest Hwy,Grapevine,TX,76051,32.940642,-97.082501,Not on Zayo Network,On-Net,Office - Multi Tenant,160.08,"$21,604.80",21604.80
28546,Bldg-513753,Atlanta,763 Juniper St NE,Atlanta,GA,30308,33.775288,-84.382989,Build in Progress,Fiber Only,Residential - Multi Tenant,488.42,"$24,652.60",24652.60
28547,Bldg-513754,Atlanta,275 Memorial Dr SE,Atlanta,GA,30312,33.746826,-84.378514,Build in Progress,Fiber Only,Residential - Multi Tenant,3289.46,"$88,947.04",88947.04
28548,Bldg-502202,Denver,6240 Smith Rd,Denver,CO,80216,39.768835,-104.876284,Not on Zayo Network,Fiber Only,Office - Multi Tenant,NaN,"$12,400.00",12400.00
28549,Bldg-502030,Atlanta,600 Celebrate Life Pkwy,Newnan,GA,30265,33.396479,-84.754320,Not on Zayo Network,Fiber Only,Hospital,NaN,"$10,000.00",10000.00
28550,Bldg-502232,Atlanta,Sidney Marcus Blvd NE,Atlanta,GA,30324,33.825122,-84.354977,Not on Zayo Network,Fiber Only,Splice Point,49.52,"$11,485.60",11485.60
28551,Bldg-502233,Dallas,4101 McEwen Rd,Dallas,TX,75244,32.930617,-96.841083,Not on Zayo Network,Fiber Only,Office - Multi Tenant,718.63,"$29,965.75",29965.75
28552,Bldg-513616,Atlanta,2780 Bert Adams Rd,Atlanta,GA,30339,33.868264,-84.474308,Not on Zayo Network,Fiber Only,Office - Multi Tenant,2248.71,"$63,969.04",63969.04
28553,Bldg-502247,Atlanta,350 Tynebrae Ct,Roswell,GA,30075,34.025197,-84.400473,Not on Zayo Network,Fiber Only,Office - Single Tenant,NaN,"$10,000.00",10000.00
28554,Bldg-502253,Atlanta,4830 River Green Pkwy,Duluth,GA,30096,34.014298,-84.168910,Not on Zayo Network,Fiber Only,Office - Single Tenant,907.48,"$31,779.52",31779.52

In [452]:
products.to_csv('products.csv')

In [453]:
buildings_and_products = products.merge(buildings, on="b_id", how="outer")

KeyError: 'b_id'

In [451]:
len(buildings_and_products)

125049

In [406]:
# Adding building products...
product_list = list(products['Product Group'].unique())
#over_ride
product_list = ['Dark Fiber - Metro',
    'Ethernet',
    'IP Services',
    'SONET',
    'FTT - Dark Fiber',
    'ISP',
    'Managed WAN-LAN',
    'FTT - Ethernet',
    'Dark Fiber - Long Haul',
    'FTT - Small Cell',
    'Wavelengths - Long Haul',
    'Wavelengths - Metro',
    'zColo']

def buildProducts(row):
    
    #prods is a dataframe of products for this building
    prods = products.query("b_id=='{0}'".format(row.name))
    
    if len(prods)==0:
        b_rev = 0
        val_counts={}
    else:
        #total building revenue potential -- not at a per product level
        b_rev = int(prods.total_mrr.sum() - prods.netx_mrc.sum())
        val_counts = prods['Product Group'].value_counts()
    
    #Build an empty hash for this buildings products:
    building_products = {}

    for p_name in product_list:
        if p_name in val_counts:
            building_products[p_name] = int(val_counts[p_name])
        else:
            building_products[p_name] = 0
    
    return b_rev, building_products

In [407]:
def make_geojson(row):
    geom = {"type":"Point","coordinates":[]}
    if (not np.isnan(row.lon) and not np.isnan(row.lat)):
        geom['coordinates'].append(row.lon)
        geom['coordinates'].append(row.lat)
    else:
        return false
    
    if row['netStat']:
        cost = 0
        netStat = 1
    else:
        cost = row['BuildingCost']
        netStat = 0
    
    feat = buildFeatureWithOpportunity(row)
    feat["geometry"]  = geom
    
    feat["properties"]
    feat["properties"]["sites"]       = row["Number Sites"],
    feat["properties"]["accounts"]    = row["Number Accounts"],
    feat["properties"]["cost"]        = cost
    feat["properties"]["netStat"]     = netStat
    
    b_rev, prods = buildProducts(row)
    
    feat["properties"]["b_rev"] = b_rev
    
    feat["properties"] = {**feat["properties"], **prods}

    return feat

In [408]:
#Create GeoJSON
features = []
total = len(gdf[gdf.netStat])
cnt = 0;
for idx,row in gdf[gdf.netStat].iterrows():
    r = make_geojson(row)
    if r:
        features.append(r)
    sys.stderr.write("\r{0} of {1}".format(cnt, total))
    cnt += 1

with open('../docs/data/onNetwork_buildings_sm.geojson','w') as oFile:
    json.dump({"type":"FeatureCollection","features":features},oFile,indent=4)

3413 of 3414

In [409]:
#Create GeoJSON
features = []
total = len(gdf[~gdf.netStat])
cnt = 0;
for idx,row in gdf[~gdf.netStat].iterrows():
    r = make_geojson(row)
    if r:
        features.append(r)
    sys.stderr.write("\r{0} of {1}".format(cnt, total))
    cnt += 1

with open('../docs/data/offNetwork_buildings_sm.geojson','w') as oFile:
    json.dump({"type":"FeatureCollection","features":features},oFile,indent=4)

13794 of 13795